@charset "uft-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Brush+Script&display=swap');

/*Skip Navigation*/
#skip{position:relative;}
#skip a{
    position:absolute; top:-50px; left:0; 
    border:2px solid black; color:#fff; background-color:#333; 
    line-height:30px; padding:0 5px;
    text-align:center; white-space:nowrap;
}
#skip a:active, #skip a:focus{top:0;}

/*Layout*/
#wrap{font-family: 'Nanum Gothic', sans-serif;}
#header{
    height:325px;
    background:url('../image/bg.jpg') no-repeat center;
    background-size:cover;}
#footer{border:1px solid #eee;}
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Brush Script', cursive;*/


/*Header*/
.header_menu{text-align:right;}
.header_menu a{display:inline-block; color:#fff; padding:10px 0px 10px 13px;}
.header_menu a:hover{color:#666;}
.header_tit{text-align:center;}
.header_tit h1{
    font-size:28px; text-transform:uppercase; color:#fff;
    background-color:#ffd6aa; padding:8px 20px 8px 20px; display:inline-block; margin-top:40px;
}
.header_tit a{
    display:inline-block; padding:6px 20px 6px 20px; margin-top:-5px;
    background-color:#ffa84a; color:#fff; font-size:18px;
}
.header_tit a:hover{color: #333;}
.header_icon{padding:47px 0;}
.header_icon ul{text-align:center;}
.header_icon ul li{display:inline-block;}
.header_icon ul li a{
    display:block; width:60px; height:60px; text-indent:-999em;
    background:url('../image/icon.png') no-repeat;}
.header_icon .icon2{background-position:0 -60px;}
.header_icon .icon3{background-position:0 -120px;}
.header_icon .icon4{background-position:0 -180px;}
.header_icon .icon1:hover{background-position:-60px 0px;}
.header_icon .icon2:hover{background-position:-60px -60px;}
.header_icon .icon3:hover{background-position:-60px -120px;}
.header_icon .icon4:hover{background-position:-60px -180px;}


/*Contents Layout*/
#cont_nav{background-color:#faf7f3; display:none;}
#cont_tit{background-color:#fff0e1;}
#cont_ban{background-color:#ffe8d1;}
#cont_cont{background-color:#faf7f3;}

/*Cont_nav*/
#cont_nav h2{display:none;}
.nav{overflow:hidden; padding:30px 0;}
.nav div{float:left;}
.nav h3{font-size:18px; color:#25a2d0; margin-bottom:4px;}
.nav ol{overflow: hidden;}
.nav ol li{float:left; width:50%;}
.nav ol li a:hover{text-decoration:underline;}
.nav_html{width:40%;}
.nav_css{width:40%;}
.nav_stand{width:20%;}
.nav_stand ol li{float:none;}

/*Cont_tit*/
.tit{position:relative;}
.tit h2{font-size:40px; text-align:center; padding:5px 0; letter-spacing:2px; color:#ff8f17; font-family: 'Nanum Brush Script', cursive;}
.tit .btn{
    width:60px; height:60px; text-indent:-999em;
    position:absolute; top:5px; right:0;
    background:url('../image/icon.png') no-repeat;
    background-position:0 -600px;}
.tit .btn.on{background-position:0 -660px}

/*Cont_ban*/
/*
.ban{position:relative; padding:24px 0;}
.ban >a{
    background:url('../img/icon.png') no-repeat;
    width:43px; height:43px; text-indent:-999em;
    position:absolute; top:60px;}
.ban .prev{
    left:-80px;
    background-position:-150px 0;}
.ban .next{
    right:-80px;
    background-position:-150px -43px;}
.ban .prev:hover{background-position:-193px 0;}
.ban .next:hover{background-position:-193px -43px;}
.ban ul{overflow: hidden;}
.ban ul li{float:left; width:330px;}
.ban ul li.ban_img3{text-align:right;}
.ban ul li.ban_img2{text-align:center;}
.ban ul li img{border:4px solid #dcdcdc;}
.ban ul li img:hover{border-color: #98bcdc;}
*/
/*슬릭 배너*/
.ban .slick-slider{position:relative; padding-top:15px;}
.ban .slick-arrow{
    background:url('../image/icon.png') no-repeat;
    width:43px; height:43px; text-indent:-999em;
    position:absolute; top:50%; transform:translateY(-50%);
}
.ban .slick-prev{
    left:-60px;
    background-position:-150px 0;
}
.ban .slick-prev:hover{background-position:-193px 0;}
.ban .slick-next{
    right:-60px;
    background-position:-150px -43px;
}
.ban .slick-next:hover{background-position:-193px -43px;}
.ban .slick-dots{text-align:center; padding:15px;}
.ban .slick-dots li{display:inline; margin:5px;}
.ban .slick-dots li.slick-active button{background-color: #ff8400;}
.ban .slick-dots li button{font-size:0; line-height:0; display:inline-block; width:15px; height:15px; cursor:pointer; background-color:#ffc68a; border-radius:50%;}
.slick-slider img{border:4px solid #dcdcdc;}
.slick-slider img:hover{border-color: #98bcdc;}


/*Cont_cont*/
.cont{overflow:hidden; padding-top:30px;}
.cont .column{
    position:relative;
    margin:0 30px 30px 0; padding-right:30px;
    float:left; width:288px; height:363px;
    border-right:1px solid #c8c8c8;}
.cont .col3, .cont .col6{ margin-right:0; padding-right:0; border-right:none;}
.cont .column .ico_img{
    position:absolute; left:0; top:0; width:60px; height:60px; text-indent:-999em;
    background:url('../image/icon.png') no-repeat;
}
.cont .col1 .ico_img{background-position:0 -240px;}
.cont .col1 .ico_img:hover{background-position:-60px -240px;}
.cont .col2 .ico_img{background-position:0 -300px;}
.cont .col2 .ico_img:hover{background-position:-60px -300px;}
.cont .col3 .ico_img{background-position:0 -360px;}
.cont .col3 .ico_img:hover{background-position:-60px -360px;}
.cont .col4 .ico_img{background-position:0 -420px;}
.cont .col4 .ico_img:hover{background-position:-60px -420px;}
.cont .col5 .ico_img{background-position:0 -480px;}
.cont .col5 .ico_img:hover{background-position:-60px -480px;}
.cont .col6 .ico_img{background-position:0 -540px;}
.cont .col6 .ico_img:hover{background-position:-60px -540px;}
.cont .column .ico_tit{padding-left:70px; font-size:16px; color:#2c94c4;}
.cont .column .ico_desc{padding:0 0 15px 70px; border-bottom:1px solid #d0d0d0; margin-bottom:15px;}

/*게시판*/
.cont .notice{position:relative;}
.cont .notice h4{font-size:14px; color:#0093bd; font-weight:bold; display:inline; padding-bottom:3px;}
.cont .notice .more{
    position:absolute; top:0; right:0; width:17px; height:17px;
    background:url('../image/icon.png') no-repeat;
    background-position:-150px -90px; text-indent:-999em;}
.cont .notice1 ul li{
    background:url('../image/dot.gif') no-repeat; background-position: 0px 9px;
    padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cont .notice1 ul li a{font-size:13px;}
.cont .notice1{margin-bottom:20px;}

/*게시판2*/
.cont .notice2 ul{overflow:hidden;}
.cont .notice2 ul li a{
    overflow:hidden; text-overflow: ellipsis; white-space:nowrap;
    float:left; width:65%;}
.cont .notice2 ul li span{float:right; width:30%; text-align:right;}

/*HTML Reference*/
.cont .not_ref ul li{position:relative; padding: 8px 0 14px 60px;}
.cont .not_ref ul li a p{overflow:hidden; text-overflow: ellipsis; white-space:nowrap;}
.cont .not_ref ul li strong{font-weight:bold; text-transform:uppercase;}
.cont .not_ref ul li img{
    position:absolute; left:0; top:0;
    width:50px; height:50px; border:1px solid #0093bd;
}

/*Mouse Hover*/
.notice_hover h4{font-size:14px; color:#0093bd; font-weight:bold;padding-bottom:3px;}
.notice_hover ul{overflow:hidden; margin-bottom:15px;}
.notice_hover ul li{float:left; width:92px; margin-right:5px; text-align:center;}
.notice_hover ul li:nth-child(3){margin-right:0;}
.notice_hover ul li img{width:100%;}
.notice_hover ul li span{position:relative; display:block;}
.notice_hover ul li em{
    position:absolute; left:0; right:0; top:0; bottom:0;
    line-height:93px; opacity:0;
    background-color:rgba(0,0,0,0.7); color:#fff;}
.notice_hover ul li em:hover{opacity:1;}
.notice_hover ul li strong{font-weight:bold; font-size:12px; display:block; padding-top:3px;}

/*Mouse Hover2*/
.notice_hover2 ul li{float:left; width:92px; margin-right:5px; text-align:center;}
.notice_hover2 ul li:nth-child(3){margin-right:0;}
.notice_hover2 ul li img{width:100%;}
.notice_hover2 ul li span{position:relative; display:block;}
.notice_hover2 ul li em{
    position:absolute; left:0; right:0; bottom:0; opacity:0;
    background-color:rgba(0,0,0,.7); color:#fff; padding:3px;}
.notice_hover2 ul li span:hover em{opacity:1;}
.notice_hover2 ul li strong{font-weight:bold; font-size:12px; display:block; padding-top:3px;}

/*Tab menu*/
.tab_menu {position: relative; border: 1px solid #ccc; padding: 8px; height: 105px;} 
.tab_menu ul {overflow: hidden; border-bottom: 1px solid #ccc;}
.tab_menu ul li {float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tab_menu ul li.on >a{background-color:#0093bd; color:#fff;}
.tab_menu ul li a {padding: 5px 10px; display: block;}
.tab_menu ul li ul {position: absolute; left: 0; top: 48px; width: 270px; border: 0; display:none;}
.tab_menu ul li ul.menu{display:block;}
.tab_menu ul li ul li {float: none; border: 0; background: url(../image/dot.gif) no-repeat 9px 8px; padding-left: 18px;}
.tab_menu ul li ul li a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; padding: 0 0 3px 0;}
.tab_menu ul li.active {background: #2c94c4;}
.tab_menu ul li.active a {color: #fff;}
.tab_menu ul li.active ul li a {color: #333;}


/*Tab menu2*/
.tab_menu2{position:relative; border:1px solid #ccc;height:120px; margin-top:15px;}
.tab_menu2 h4{font-size:14px; color:#0093bd; font-weight:bold; border-bottom:1px solid #ccc; padding:8px;}
.tab_menu2 h4 em{color:#cf3292;}
.tab_menu2 >a{position:absolute; top:8px; right:8px;}
.tab_menu2 ul{padding-left: 8px;}
.tab_menu2 ul li{overflow:hidden; background:url('../image/dot.gif') no-repeat;
    background-position:2px 8px; padding-left:10px;
    margin:6px 0;}
.tab_menu2 ul li a{float:left; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:60%;}
.tab_menu2 ul li span{float:right; width:30%;}

/*Gallery*/
.gallery{position:relative; border:1px solid #ccc; overflow:hidden; height:255px;}
.gallery h4{font-size:14px; color:#0093bd; font-weight:bold; border-bottom:1px solid #ccc; padding:10px 0 8px 11px;}
.gallery_btn {position:absolute; right:5px; top:7px;}

/*슬릭 Gallery*/
.gallery_img{padding-top:0;}
.gallery_img .slick-slide img{width:100%; height:100%; margin:0; border:none;}
.gallery_btn button{
    float:left; margin: 1px 2px;
    display:block; width:23px; height:23px;
    background:url(../image/icon.png) no-repeat;
}
.gallery_btn .gb_icon1{background-position:-150px -120px;}
.gallery_btn .gb_icon1:hover {background-position:-173px -120px;}
.gallery_btn .gb_icon2{background-position:-150px -143px;}
.gallery_btn .gb_icon2:hover{background-position:-173px -143px;}
.gallery_btn .gb_icon3{background-position:-150px -166px;}
.gallery_btn .gb_icon3:hover{background-position:-173px -166px;}
.gallery_btn .gb_icon4{background-position:-150px -189px;}
.gallery_btn .gb_icon4:hover{background-position:-173px -189px;}


/*로그인*/
.login_wrap{
    background-color:#f2f4f5;
    padding:15px
}
.login_header{font-size:12px; height:30px;}
.login_header .lh_check{display:inline-block; padding-right:15px;}
.login_header .lh_check #input_check{vertical-align:top;}
.login_header .lh_ip{display:inline-block;}
.login_header .lh_ip em{color:#0093bd; text-decoration:underline;}
#login_form .login_content{position:relative;}
.login_content .lc_text{display:inline;}
.login_content .input_text{width:180px; height:16px; padding:2px 5px; border:1px solid #bebebe; margin-bottom:3px; background-color:#fff;}
.login_content .lc_btn{position:absolute; right:0; top:0; width:62px; height:47px; background-color:#fff; border:1px solid #bebebe;}
#login_form .login_footer{margin-top:5px;}
#login_form .login_footer li{display:inline;}
#login_form .login_footer strong{font-weight:bold;}
#login_form .login_footer a{font-size:12px;}

/*Advertisement*/
.popup{margin-top:15px;}
.popup h4{font-size:14px; color:#0093bd; font-weight:bold; padding-bottom:4px;}
.popup ul{overflow:hidden;}
.popup ul li{float:left; width:92px; margin-right:5px;}
.popup ul li:last-child{margin-right:0;}
.popup img{width:100%;}
.lightgallery a{display:block; position:absolute;}

/*Footer*/
.footer{text-align:center; padding:25px 0;}
.footer ul{margin-bottom:20px;}
.footer li{position:relative; display:inline; padding:0 7px 0 10px;}
.footer li strong{font-weight:bold;}
.footer li:before{content:''; position:absolute; right:0; top:2px; width:1px; height:12px; background-color:#ccc;}
.footer li:last-child:before{display:none;}

/*레이어 팝업*/
#layer{display:none; position:fixed; left:50px; top:50px; height:500px; width:700px; border:10px solid #dceff7; box-shadow:3px 3px 10px rgba(0,0,0,0.4);}
#layer img{width:100%; display:block;}
#layer .close{position:absolute; right:20px; top:20px; background-color:#0093bd; padding:1px 6px; color:#fff;}
#layer .close:hover{text-decoration: underline;}

/*Container*/
.container{width:990px; margin:0 auto; height:inherit;}
